:root {
    --primary-color: #3498db;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.fa-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

.dark-mode .fa-button{
    background-color: black;
    color: white;
    border-color: black;
}

.light-mode .fa-button{
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

/*.primary-color {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
*/
.reset-mode .fa-button {
    background: linear-gradient(to right, var(--primary-color), #edeef0);
    border-color: var(--primary-color);
    /*color: #f0e5e5;*/
}